#citiesContainerTop {
    font-family:'Courier New', Courier, monospace;
    height: 90%;
    width: 22%;
}

#citiesUL {
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#citiesContainerBottom {
    font-family:'Courier New', Courier, monospace;
    width: 100%;
}

#citiesUL > li {
    margin-top: 0.73rem;
    margin-bottom: 0;
}