:root {
    --mainBG: #1E1E1E;
    --btnBG: #2F2F2F;
    --inputBG: #4C4B4B;
    --btnActiveBG: #65489F;
    --earningsColor: #2B990C;
    --expensesColor: #990C0F;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    color: #FFF;
}

body {
    background-color: var(--mainBG);
    margin: 0;
    height: 200vh;
    padding: 3rem;
    
}

#earningsContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

#citiesContainer {
    height: 90%;
    width: 15%;
    background: white;
}

#mapAndButtonsContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 70%;
    margin-left: 2rem;
    margin-right: 2rem;
}

#yearButtonsContainer {
    background: white;
    height: 30%;
    width: 100%;
}

#gradientAndBarsContainer {
    background: white;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    gap: 1rem;
}

#gradientContainer {
    background: black;
    height: 100%;
    width: 20%;
}

#barsContainer {
    background: black;
    height: 100%;
    width: 80%;
}

h1 {
    margin: 0;
    display: inline;
}