:root {
    --mainBG: #1E1E1E;
    --btnBG: #2F2F2F;
    --inputBG: #4C4B4B;
    --btnActiveBG: #65489F;
    --earningsColor: #2B990C;
    --expensesColor: #990C0F;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    color: #FFF;
}

body {
    background-color: var(--mainBG);
    margin: 0;
    height: 200vh;
    padding: 3rem;
}

#earningsContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

#citiesContainer {
    font-family:'Courier New', Courier, monospace;
    height: 90%;
    width: 18%;
}

#gradientAndBarsContainer {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    gap: 1rem;
}

#gradientContainer {
    background: linear-gradient(#fcfbfd, #3f007d );
    transform:rotate(180deg);
    height: 100%;
    width: 10%;
}

#barsContainer {
    background: black;
    height: 100%;
    width: 90%;
}

h1 {
    margin: 0;
    display: inline;
}

#tourContainer {
    height: 100vh;
    display: flex;
    gap: 1rem;
}

#tourRightContainer {
    height: 100%;
    width: 20vw;
}

#tourLeftContainer {
    height: 100%;
    flex-grow: 1;
}

.expenseCategoryContainer {
    display: flex;
    flex-direction: column;
}

.expenseAmountContainer {
    display: flex;
    flex-direction: column;
}

#inputContainer {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(6, 1fr);
}

.expenseInputContainer > div {
    display: flex;
    gap: 1rem;
}

.expenseInput {
    padding: 1rem;
}

.expenseInput input {
    border-radius: 2%;
    border: 1px solid #4C4B4B;
    background-color: #2F2F2F;
}

.removeExpenseBtn {
    margin-left: 95%;
}

.removeExpenseBtn, #btnAddExpense {
    background-color: #2F2F2F;
    border-radius: 10%;
    border: 1px solid #4C4B4B;
}

#btnAddExpense {
    font-size: 1.5rem;
}

#btnAddExpense:hover, .removeExpenseBtn:hover {
    cursor: pointer;
}